/* Declaration to set margins, and make everything border-box */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font setting for the whole website */

body {
    font-size: "Merriweather", serif;
}

/* Colors the backgrounds of the top-level containers */

.headbig,
.amfesto,
.cpsvideo,
.tihvideo,
.footer {
    width: 100vw;
    padding: 24px;
    display: flex;
}

/* Setting the sub container's width */

.header,
.welcome,
.amfestob,
.cpsvideo1,
.tihvideo1,
.footer1 {
    width: 75vw;
    display: flex;
    padding: 24px;
}

/* Declaring the header style */

.headbig  {
    background-color: #000080;
    flex-direction: column;
    align-items: center;
}

.header {
    gap: 16px; 
    justify-content: space-between;
    height: 5vh;
}

.right {
    display: flex;
    gap: 32px;;
}

.right a:link, .right a:visited {
    color: #DFFF00;
    text-decoration: none;
    font-size: 18px;
}

.right a:hover, .right a:active {
    color: #DFFF00;
    text-decoration: underline;
    font-size: 18px;
}

.left a:link, .left a:visited {
    color: #DFFF00;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
}

.left a:hover, .left a:active {
    color: #DFFF00;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 900;
}

/* Declaring the welcome style */

.welcome {
    flex-direction: column;
    background-color: #000080;
    gap: 32px;
}

.welcome img {
    width: 75vw;
    border-radius: 8px;
}

.wel {
    display: flex;
    align-self: center;
    font-size: 48px;
    font-weight: 900;
    color: #DFFF00;
    gap: 32px;
}

.cpsvideo {
    justify-content: center;
}

.cpsvideo1 {
    justify-content: center;
}

.cpsvideo1 iframe {
    width: 75vw;
    height: 60vh;
    border-radius: 16px;
}

.amfesto {
    background-color: #1E2952;
    justify-content: center;
}

.amfestob {
    flex-direction: column;
    gap: 36px;
}

.festo {
    font-size: 36px;
    font-style: italic;
    color: #FFA000;
}

.me {
    display: flex;
    margin-left: auto;
    color: #DFFF00;
}

.footer {
    background-color: #1E2952;
    justify-content: center;
}

.footer1 {
    justify-content: center;
}

