/* Declaration to set margins, and make everything border-box */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font setting for the whole website */

body {
    font-size: "Merriweather", serif;
}

/* Colors the backgrounds of the top-level containers */

.headbig,
.pvstatement,
.footer {
    width: 100vw;
    padding: 24px;
    display: flex;
}

/* Setting the sub container's width */

.header,
.welcome,
.pvs,
.footer1 {
    width: 75vw;
    display: flex;
    padding: 24px;
}

/* Declaring the header style */

.headbig  {
    background-color: #DFFF00;
    flex-direction: column;
    align-items: center;
}

.header {
    gap: 16px; 
    justify-content: space-between;
    height: 5vh;
}

.right {
    display: flex;
    gap: 32px;;
}

.right a:link, .right a:visited {
    color: #000080;
    text-decoration: none;
    font-size: 18px;
}

.right a:hover, .right a:active {
    color: #000080;
    text-decoration: underline;
    font-size: 18px;
}

.left a:link, .left a:visited {
    color: #000080;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
}

.left a:hover, .left a:active {
    color: #000080;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 900;
}

/* Declaring the welcome style */

.welcome {
    background-color: #DFFF00;
    gap: 32px;
    justify-content: space-between;
}

.welcome img {
    width: 30vw;
    border-radius: 700px;
}

.selfintro {
    width: 30vw;
    display: flex;
    font-size: 48px;
    color: #000080;
    align-self: center;
}

/* Personal Vision Statement */

.pvstatement {
    justify-content: center;
}

.pvs {
    font-size: 36px;
    color: #1E2952;
    font-style: italic;
}

/* Interests and Hobbies */



/* The footer which is common for all the pages */

.footer {
    background-color: #DFFF00;
    justify-content: center;
}

.footer1 {
    justify-content: space-between;
    font-size: 18px;
    color: #000080;
    align-items: center;
}

button {
    padding: 1px;
    border-radius: 8px;
}

.fa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt a i {
    color: #1E2952;
    width: 2.5vw;
    height: 2.5vw
}