/* Declaration to set margins, and make everything border-box */

/* Styles About Me */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font setting for the whole website */

body {
    font-family: "Merriweather", serif;
}

/* Colors the backgrounds of the top-level containers */

.headbig,
.pvstatement,
.hobint,
.mediumstories,
.footer {
    width: 100vw;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
}

/* Setting the sub container's width */

.header,
.welcome,
.pvs,
.hobint1,
.frames,
.footer1 {
    width: 75vw;
    display: flex;
    padding: 24px;
}

/* Declaring the header style */

.headbig  {
    background-color: #DFFF00;
    flex-direction: column;
    align-items: center;
}

.header {
    gap: 16px; 
    justify-content: space-between;
    height: 5vh;
}

.right {
    display: flex;
    gap: 32px;;
}

.right a:link, .right a:visited {
    color: #000080;
    text-decoration: none;
    font-size: 18px;
}

.right a:hover, .right a:active {
    color: #000080;
    text-decoration: underline;
    font-size: 18px;
}

.left a:link, .left a:visited {
    color: #000080;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
}

.left a:hover, .left a:active {
    color: #000080;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 900;
}

/* Declaring the welcome style */

.welcome {
    background-color: #DFFF00;
    gap: 32px;
    justify-content: space-between;
}

.welcome img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5%;
}

.selfintro {
    width: 30vw;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    color: #000080;
    align-self: center;
    gap: 16px;
}

.selfintro .low {
    color: #1E2952;
    font-size: 18px;
    padding: 24px;
    margin-left: auto;
}

/* Personal Vision Statement */

.pvstatement {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pvs {
    font-size: 36px;
    color: #1E2952;
    font-style: italic;
    flex-direction: column;
}

.pvs .low {
    font-size: 18px;
    color: #000080;
    margin-left: auto;
}

/* Interests and Hobbies */

.hobint {
    justify-content: center;
    background-color: #FFA000;
}

.hobint1 {
    font-size: 24px;
    flex-direction: column;
    color: #1E2952;
    gap: 32px;
}

.hobint1 .low {
    color: #000080;
    font-size: 18px;
    display: flex;
    margin-left: auto;
}

/* Medium story links */

.mediumstories {
    justify-content: center;
}

.frames {
    justify-content: space-between;
    gap: 16px;
}

.frames a img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5%;
    border: 1px solid #000080;
}

/* The footer which is common for all the pages */

.footer {
    background-color: #DFFF00;
    justify-content: center;
}

.footer1 {
    justify-content: space-between;
    font-size: 18px;
    color: #000080;
    align-items: center;
}

button {
    padding: 1px;
    border-radius: 8px;
}

.fa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.butt a i {
    color: #1E2952;
    width: 2.5vw;
    height: 2.5vw
}